  <!doctype html>
   <html lang="en">
   <head>
    <header>
        <div id="header-placeholder">{% include 'header.html' %}</div>
    </header>
       <title>My Flask App</title>
   </head>
   <body>

       <h1>Welcome to My Flask App</h1>
       <p>This is a simple Flask application.</p>
       <ul>
           <li>Flask</li>
           <li>HTML</li>
           <li>Templates</li>
       </ul>
   </body>
   <footer>
    <div id="footer-placeholder">{% include 'footer.html'%}</div>
   </footer>
   </html>